<nav class="navbar navbar-inverse navbar-static-top" style="background-color:#326771;">
  <div class="container-fluid">
    <ul>
      <li><a class="navbar-brand manage" style="font-size:large" href="/">Patient Manager</a></li>
      <li><p stlye="font-size:x-large;" class="icon"><i class="material-icons icons">local_hospital</i></p></li>
      <li><a class="navbar-brand brand"  href="/about">About Us</a></li>
      <li><a href="#sign-in"><span>Signin</span></a></li>
      

    </ul>
    <!-- <a class="navbar-brand" style="font-size:large" href="/">Patient Manager</a> -->
    
    
  </div>
  
</nav>