{% block content %}

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-title">
        <h4>{{user.username}}</h4>
      </div>
      <div class="card-body">
        <p> Edit Patient Records</p>
      </div>
    </div>
  </div>
  {% for p in patient %}
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <p>{{p.patient}}</p>
        <a href="/pro-record/{{p.id}}"style="float:right">View records</a>


        <a href="/patient/edit/{{p.id}}"style="text-align: centre;">Edit Patient</a>




        <a href="/patient/{{p.id}}" style="color:red;">Delete Patient</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock%}
